<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SBEPAEscritorio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <SBEPAEscritorio.Properties.Settings>
            <setting name="ConexionInicialServer" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="ConexionInicialPuerto" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="ConexionInicialUsuario" serializeAs="String">
                <value>eyJpdiI6ImtTWVVGMThYTi9OTkhsc0p3cXZJbFE9PSIsInZhbHVlIjoiQ01FRUtaUzJwNEk0dXAzOEpyTUZpTWdxS01GOW1hQjJNK2RsWkJMYTNrRT0iLCJtYWMiOiI0MjY5YjFiZGM0YTdiMjE5ZDlhZGEyNTdjYTYxNTQzNWMwMTlkYTkzMDk3NmUxMjdhMzI0NjBmODUzMWVkY2Y1In0=</value>
            </setting>
            <setting name="ConexionInicialClave" serializeAs="String">
                <value>eyJpdiI6IjVRUHR4eTZaVmhURGpOTi9IVytlb2c9PSIsInZhbHVlIjoiUDMvRDZaSjZuYk1FOGtQeEk2Wm9rUHVIZmx5SEg0K05hNkdZRjZuZThBVT0iLCJtYWMiOiJhMDk3MGRlMGQ2MGZkOGMxYTliMjZjMGQxMWJiN2Y0YTQ5NTI5M2NlNGM5NTg5NmI4OWJkYmI2N2NlOTE3MGU3In0=</value>
            </setting>
        </SBEPAEscritorio.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.19.0" newVersion="8.0.19.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>